@model PSS.Models.PSS_Projects

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PSS_Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extra_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extra_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material_budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material_budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preferred_major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preferred_major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project_created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project_selection_closing_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_selection_closing_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSS_Project_Category.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSS_Project_Category.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSS_Sponsor.sponsor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSS_Sponsor.sponsor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSS_Status.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSS_Status.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSS_Users.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSS_Users.first_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
