@using Microsoft.AspNet.Identity
@{
    if (Session["user_id"] != null)
    {
        ViewBag.IsAuthenticated = true;
        ViewBag.email = Session["email"].ToString();
    }
    else
    {
        ViewBag.IsAuthenticated = false;
    }
}
@if (Request.IsAuthenticated)
{
   using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>@Html.ActionLink("Log Off","LogOff","Account",new { Area = "" }, new { })</li>
           <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Create", "Admin/PSS_Users", new { Area = "" }, new { })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account",  new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
